[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flaskwebgui = "*"
flask-login = "*"
sqlalchemy = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
setuptools = "*"
wheel = "*"
requests = "*"

[requires]
python_version = "3.8"
